<div>
    <mat-card class="form-card" >
        <mat-card-header>
            <button mat-icon-button color="primary" (click)="openInfoDialog()">
                <mat-icon>info</mat-icon>
            </button>
        </mat-card-header>
        <form [formGroup]="coordForm">
            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input matInput type="number" formControlName="latitude">
                <mat-error *ngIf="latitude.errors?.['required']">Latitude is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input matInput type="number" formControlName="longitude">
                <mat-error *ngIf="longitude.errors?.['required']">Longitude is required.</mat-error>
            </mat-form-field>

            <button 
                mat-raised-button 
                color="primary" 
                [disabled]="!coordForm.valid"
                (click)="getCoordsData()"
                >Get Temperature</button>
        </form> 
    </mat-card>
</div>
