app-coord-form {
    position: absolute;
    z-index: 10;
    max-width: 23%;
}


.graph-container {
    position: absolute;
    height: 40%;
    background-color: aquamarine;
    width: 100%;
    bottom: 0;
    display: flex;
    z-index: 10;
}

.graph-right {
    flex: 1;
}

.graph-left {
    flex: 1;
}